* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

ul {
  display: flex;
  justify-content: space-evenly;
  padding: 1.1em 0;
}

nav ul li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.icon {
  font-size: 1.5em;
}
